* {
  	box-sizing: border-box;
}

body {
  	margin: 0;
	/* background-color: rgb(247, 243, 214); */
	/* background-image: url('https://images.creativemarket.com/0.1.0/ps/5975769/1820/1213/m1/fpnw/wm1/fwxtpn4ygjs2xlovco4q1ozusshrcb8qwjdqf5fmstabvk3oextqesm2p91doukf-.jpg?1551511735&s=e4c5c2ca0578ee4625a796fca9a52bca'); */
	/* background-position: center;
  	background-repeat: no-repeat;
 	 background-size: cover; */
}

header {
	background-image: url('https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
	background-position-y: 87%;
	background-size: cover;
	background-color: #528b68;
	color: white;
}

nav {
	width: 960px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

nav a {
  	color: white;
}

#logoText {
	font-size: 30px;
}

#container {
	display: flex;
	flex-direction: column;
	width: 960px;
	margin: 0 auto;
	background-color: white;
}

#top-post {
	list-style: none;
	padding: 0;
}

#top-post li{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 70px 50px 70px;
}

#readMore {
	align-self: flex-start;
	font-size: 20px;
}

#content {
	font-size: 18px;
	white-space: pre-wrap;
}

#top-post li img{
	height: 300px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#more-post-headline {
	text-align: center;
	margin-top: 40px;
}

#post-list {
	list-style: none;
	padding: 0;
}

.post {
	border-bottom: 1px solid black;
	margin: 10px 0px;
	padding: 0 0 10px 10px;
}

button {
	font-size: 22px;
	transition: 0.7s;
	margin: 30px 0 50px 0;
	width: 180px;
	height: 50px;
	align-self: center;
	border-radius: 10px;
}

button:hover {
	cursor: pointer;
	background-color: #528b68;
	border-color: #2f662fd0;
	color: white;
}

#allPostsLoaded {
	font-size: 20px;
	margin: 30px 0 50px 0;
	align-self: center;
}