* {
  	box-sizing: border-box;
}

body {
  	margin: 0;
}

header {
  	background-color: #528b68;
  	color: rgb(247, 231, 199);
}

nav {
	width: 960px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
  	color: white;
}



#container {
	display: flex;
	flex-direction: column;
	width: 960px;
	margin: 0 auto;
}

#welcome-headline {
	text-align: center;
	margin-top: 40px;
}

#top-post {
	list-style: none;
	padding: 0;
}

#top-post li{
	text-align: center;
	height: 500px;
}

#top-post li img{
	text-align: center;
	height: 200px;
}

#latest-headline {
	text-align: center;
	margin-top: 40px;
}

#post-list {
	list-style: none;
	padding: 0;
}

.post {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 0 0 10px 10px;
}

button {
	font-size: 22px;
	transition: 0.7s;
	margin: 30px 0 50px 0;
	width: 180px;
	height: 50px;
	align-self: center;
	border-radius: 10px;
}

button:hover {
	cursor: pointer;
	background-color: #528b68;
	border-color: #2f662fd0;
	color: white;
}

#allPostsLoaded {
	font-size: 20px;
	margin: 30px 0 50px 0;
	align-self: center;
}