/* Body
Unique style for this page
*/

h2 {
  font-size: 27px;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}

#top-post {
  list-style: none;
  padding: 0;
  margin: 0;
}

#top-post li {
  padding: 50px 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#readMoreTopPost {
  align-self: flex-start;
  font-size: 20px;
}

#content {
  font-size: 18px;
  white-space: pre-wrap;
}

#top-post li img {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#more-post-headline {
  text-align: center;
  margin-top: 40px;
  text-decoration: underline;
}

#post-list {
  list-style: none;
  padding: 0;
}

.post {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.post p {
  font-size: 18px;
}

.post a {
  font-size: 20px;
}

.leftSideOfPost {
  display: flex;
  justify-content: center;
  width: 38%;
}

.leftSideOfPost img {
  height: 200px;
}

.rightSideOfPost {
  width: 50%;
}

.dateAndTags {
  margin-top: 20px;
}

#loadMorePostsDiv {
  align-self: center;
  margin: 20px 0 70px 0;
}

#allPostsLoaded {
  font-size: 18px;
}

#loadMorePosts {
  font-size: 18px;
  cursor: pointer;
}

/* Media queries */

@media screen and (max-width: 920px) {
  #top-post li img {
    max-width: 100%;
    object-fit: cover;
  }

  #container {
    padding: 0 30px;
  }

  #post-list {
    max-width: 920px;
  }

  .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logoText {
    text-align: center;
  }
}
