body {
	background-image: url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2352&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
  	margin: 40px 0;
}

label {
  	font-size: 20px;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

#inputDiv {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.innerInputDiv {
  	width: 45%;
}

.errors {
	background-color: #f8d7da;
	border: 1px solid #f5c8cd;
	padding: 5px;
	margin-top: 10px;
	color: #83333b;
	font-size: 18px;
}

#contentError {
  	max-width: 40%;
}

.inputField {
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #333;
	font-size: 18px;
	padding-left: 5px;
	height: 30px;
	vertical-align: middle;
}

#authorList {
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #333;
	font-size: 18px;
	height: 30px;
	vertical-align: middle;
}

#contentDiv {
	margin: 40px 0;
	width: 100%;
}

textarea {
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #333;
	resize: none;
	font-size: 18px;
	padding: 5px;
}

#tagsDiv {
  	font-size: 18px;
}

.checkBox {
	margin-left: 6px;
	margin-top: 10px;
}

#submitBtn {
	font-size: 22px;
	margin-top: 40px;
	transition: 0.7s;
}

#submitBtn:hover {
	cursor: pointer;
	background-color: #528b68;
	border-color: #2f662fd0;
	color: white;
	}

input[type="checkbox"]:checked {
  	filter: sepia(100%) hue-rotate(90deg) saturate(150%);
}

.break {
	flex-basis: 100%;
	height: 0;
}

@media screen and (max-width: 400px) {
	.innerinputdiv, #container {
		display: block;
		width: 96%;
		margin: 0 2% 5px 2%;
		
	}

}