#container {
	width: 600px;
	margin: 20px auto;
}

#inputDiv {
	display: flex;
	justify-content: space-between;
}

#inputDiv div {
	width: 45%;
}

.inputField {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #333;
}

#contentDiv {
	width: 100%;
	margin: 20px 0;
}

textarea {
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #333;
	resize: none;
}

#tagsDiv {
	margin: 50px 0;
}

#tagsDiv h3 {
	margin: 0;
}

.checkBox {
	margin-right: 10px;
}

a {
  	text-decoration: none;
}

a:hover {
  	text-decoration: underline;
}

.break {
	flex-basis: 100%;
	height: 0;
}